@page
@{
    Layout = "_Layout";
    ViewData["Title"]="Beauty Code";
}
@section Logo{
  <h1><a href="./Pocetna">BeautyCode</a></h1>
}
@section Navbar{
  <li class="dropdown"><a href="#"><span>Log In</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>Log in kao...</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="./LoginVlasnik">Vlasnik</a></li>   <!-- PAZNJAAA !!!! -->
                  <li><a href="./LoginZaposleni">Zaposleni</a></li>
                  <li><a href="./LoginKorisnik">Korisnik</a></li>
                </ul>
              </li>
    
            </ul>

   </li>
}
@section Vise{
  <a href="./Dodatno" class="btn-learn-more">Saznaj više</a>
}
@section NoviSteOvde{
   <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Novi ste ovde? Želite da se registrujete?</h3>
            <p> Kažu da naši ljudi mogu učiniti da izgledate anđeoski - da imate sjajnu
              frizuru, odličan balajaž, fenomenalne nokte, super sređeno lice... 
              <br> Uverite se i sami!
              <span style="font-size:xx-large"> ☻ </span>
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="./LoginKorisnik">REGISTRUJ SE</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
}
@section Ponude{
      <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>USLUGE</h2>
          <p>Šta Vam nudimo</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-scissors" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="./Cenovnik">Frizerske usluge</a></h4>
              <p class="description">Sa željom da Vaša kosa uvek bude lepa i negovana, u našem 
                radu koristimo najkvalitetnije preparate vodećih kozmetčkih kuća, a naš stilista
                 će se pobrinuti da Vaša frizura bude u skladu sa oblikom lica, kvalitetom i
                  dužinom kose. Posetite nas, jer na jednom mestu možete dobiti najlepše frizure
                   za Vas, Vašu decu i supružnika. Pored odraslih, u naš salon su dobrodošli i 
                   mališani svih uzrasta kojima je namenjen poseban i maštovito uređen prostor.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="bi bi-stars" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="./Cenovnik">Kozmetičke usluge</a></h4>
              <p class="description">
                U našem salonu pružamo kozmetičke usluge raznovrsne tretmane za lepotu 
                i negu Vašeg lica i tela.
                Profesionalno šminkanje - šminke za sve tipove slavlja i svečanosti.
                Pored šminke kod nas možete zakazati pedikir i manikir -  gde dobijate adekvatnu
                 negu kože Vaših ruku i nogu. Radimo izlivanje i nadogradnju noktiju, koristeći 
                 kvalitetne gelove i lakove.
                Tretmani uklanjanja neželjenih dlačica toplom i hladnom depilacijom svih regija tela. 
                Osim depilacije, kod nas možete dobiti i usluge klasičnog čišćenja kože lica.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-flower3" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="./Cenovnik">Masaža</a></h4>
              <p class="description">Masaža je prirodna metoda kojom se poboljšava zdravlje i
                 održava snaga organizma. To je jako dobar argument da probate masažu sledeći 
                 put kada osetite da vam je potreban jedan reset na normalu. Dok ležite na stolu
                  za masažu, slušajući relaksirajuću  muziku i upijajući atmosferu smirenosti i 
                  aromaterapijskih ulja oko vas, osetićete kako mišićna napetost nestaje svakim 
                  pokretom ruke terapeuta i kako vaše telo tone u sve dublju relaksaciju. Da li ste spremni da iskusite šta profesionalna masaža može učiniti za vas?</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="bi bi-slack" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="./Cenovnik">Wellness & SPA</a></h4>
              <p class="description">Boravak u sauni i slanoj sobi značajno će popraviti i vaše fizičko i vaše mentalno stanje 
                a preporučuje se jer nudi benefite kao što su: zatezanje kože 
                 i lučenje hormona sreće (serotonina), uz dodatnu pročišćenost tena i povećanu
                  mekoću i elastičnost kože.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="bi bi-sun" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="./Cenovnik">Solarijum</a></h4>
              <p class="description">Solarijum je tehnički uređaj za zračenje ljudskog tela 
                ultraljubičastim (UV) svetlom. Svrha njegovog korišćenja je estetska - 
                postizanje preplanulog izgleda bez stvarnog izlaganja suncu. Takođe se koristi
                 u medicini za lečenje kožnih problema poput akni.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="bi bi-bookmark-heart" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="./Cenovnik">Kolsutativni pregledi</a></h4>
              <p class="description"> Ljubazno osoblje koje radi u našem salonu, svakoga dana može 
                Vam pružiti stručne savete u vezi sa problemom koji Vas muči i vratit 
                Vam osmeh na licu. Dođite i upoznajte odlično raspoložen tim vrhunskih stručnjaka.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
}
@section Galerija{
      <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>GALERIJA</h2>
          <p>Šta smo uradili</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">sve</li>
          <li data-filter=".filter-frizure">frizure</li>
          <li data-filter=".filter-nokti">nokti</li>
          <li data-filter=".filter-sminka">šminka</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>svečana punđa</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>  <!-- PAZNJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti6.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>roza</h4>
              <p>manikir</p>
              <a href="assets/img/nokti/nokti6.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura8.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>frizura muška</h4>
              <p>muške frizure</p>
              <a href="assets/img/frizure/frizura8.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>talasi</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura3.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sminka">
            <div class="portfolio-img"><img src="assets/img/sminka/sminka6.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>red rose</h4>
              <p>makeup</p>
              <a href="assets/img/sminka/sminka6.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="sminka"><i class="bx bx-plus"></i></a>
              <a href="./Sminka" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura9.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>frizura muška</h4>
              <p>muške frizure</p>
              <a href="assets/img/frizure/frizura9.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura14.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>ombre</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura14.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti8.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>teddy bear</h4>
              <p>manikir</p>
              <a href="assets/img/nokti/nokti8.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura10.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>frizura muška</h4>
              <p>muške frizure</p>
              <a href="assets/img/frizure/frizura10.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura18.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>red plum</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura18.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sminka">
            <div class="portfolio-img"><img src="assets/img/sminka/sminka5.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>winter</h4>
              <p>makeup</p>
              <a href="assets/img/sminka/sminka5.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="sminka"><i class="bx bx-plus"></i></a>
              <a href="./Sminka" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti4.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>purple</h4>
              <p>manikir</p>
              <a href="assets/img/nokti/nokti4.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti5.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>halloween</h4>
              <p>manikir</p>
              <a href="assets/img/nokti/nokti5.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sminka">
            <div class="portfolio-img"><img src="assets/img/sminka/sminka7.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>mala oaza</h4>
              <p>makeup</p>
              <a href="assets/img/sminka/sminka7.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="sminka"><i class="bx bx-plus"></i></a>
              <a href="./Sminka" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura12.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>pletenice</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura18.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti11.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>french</h4>
              <p>pedikir</p>
              <a href="assets/img/nokti/nokti11.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura7.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>frizura muška</h4>
              <p>muške frizure</p>
              <a href="assets/img/frizure/frizura7.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti12.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>leopard</h4>
              <p>pedikir</p>
              <a href="assets/img/nokti/nokti12.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti13.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>chico</h4>
              <p>pedikir</p>
              <a href="assets/img/nokti/nokti13.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura15.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>snežni balajaž</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura15.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sminka">
            <div class="portfolio-img"><img src="assets/img/sminka/sminka1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>classic</h4>
              <p>makeup</p>
              <a href="assets/img/sminka/sminka1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="sminka"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details-sminka.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>ocean</h4>
              <p>manikir</p>
              <a href="assets/img/nokti/nokti1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sminka">
            <div class="portfolio-img"><img src="assets/img/sminka/sminka3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>exotic</h4>
              <p>makeup</p>
              <a href="assets/img/sminka/sminka3.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="sminka"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details-sminka.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sminka">
            <div class="portfolio-img"><img src="assets/img/sminka/sminka2.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>šljokica</h4>
              <p>makeup</p>
              <a href="assets/img/sminka/sminka2.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="sminka"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details-sminka.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nokti">
            <div class="portfolio-img"><img src="assets/img/nokti/nokti9.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>pastel</h4>
              <p>manikir</p>
              <a href="assets/img/nokti/nokti9.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="nokti"><i class="bx bx-plus"></i></a>
              <a href="./Nokti" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-frizure">
            <div class="portfolio-img"><img src="assets/img/frizure/frizura17.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>lokne</h4>
              <p>ženske frizure</p>
              <a href="assets/img/frizure/frizura17.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="frizure"><i class="bx bx-plus"></i></a>
              <a href="./Frizure" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

      </div>
    </section><!-- End Portfolio Section -->
}
@section Cene{
  <div class="row" id="usluge4glavna">

          
  </div>
  <p class="col-lg-3">
            <div style="text-align:center;">
              <a href="./Cenovnik" id="idbtn" style="font-weight:500; font-family:Poppins, sans-serif; font-size:large;  padding: 15px; border-radius: 15px; background-color: #fe11af; color:white; " > Pogledaj ceo cenovnik   
              </a>
            </div>
            </p>
}
@section Scripts{
  <script src="assets/js/index.js" type="module"></script>
}